/* * Write your CSS in here * */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
}

input {
    margin-bottom: 5px;
    width: 15rem;
}

#todo-list {
    margin: 5px;
}

#task-card {
    display: flex;
    flex-direction: row;
}

#completed-button {
    margin-left: 5px;
    margin-bottom: 5px;
    color: green;
    background-color: white;
    border: white;
}

#delete-button {
    margin-bottom: 5px;
    color: red;
    background-color: white;
    border: white;
}

.completed {
    text-decoration: line-through;
}

